# Auto detect text files and perform LF normalization
* text=auto

/.github            export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
/composer.lock      export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
/LICENSE            export-ignore
/filesystem.txt     export-ignore
/qa.sh              export-ignore
/pre-commit         export-ignore
